{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/matricula/static/css/escuela.css">
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main>
        <h1>hello there!</h1>
        <a href="/cursos">Cursos</a><br>
        <a href="/alumnos">Alumnos</a><br>
        <a href="/nuevo/curso">Alta Cursos</a><br>
        <a href="/nuevo/alumno">Alta Alumno</a><br>

    </main>
</body>
</html>